@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito", sans-serif;
}
.swal2-popup {
    font-size: 14px !important;
}

.swal2-styled {
    padding: 10px 32px 10px 32px !important;
    margin: 20px 10px 0px 10px !important;
    width: 170px;
    height: 45px;
}
.logo-font {
    font-family: "Palanquin Dark", sans-serif;
}

.navbar.active {
    position: relative;
}
.navbar.active:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(2px);
    bottom: 0;
    height: 1px;
    width: 90%; /* or 100px */
    border-bottom: 2px solid #3056e3;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-12px);
    }
    100% {
        transform: translatey(0px);
    }
}

.float-animation {
    animation: float 5s ease-in-out infinite;
}

.ellipsis-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
}
.ellipsis-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.ellipsis-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ellipsis-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.slick-prev::before,
.slick-next::before {
    color: rgb(177, 177, 177);
}

input:focus {
    outline: none;
}

input {
    color: rgb(141, 141, 141);
    font-weight: 300;
}

label {
    cursor: pointer;
}

.loading-dots {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #c1c1c1 90%, #afafaf00);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 100%;
    animation: d7 1s infinite linear;
}
@keyframes d7 {
    33% {
        background-size: calc(100% / 3) 0%, calc(100% / 3) 100%,
            calc(100% / 3) 100%;
    }
    50% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 0%,
            calc(100% / 3) 100%;
    }
    66% {
        background-size: calc(100% / 3) 100%, calc(100% / 3) 100%,
            calc(100% / 3) 0%;
    }
}

.scrollbar
{
	overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
	background-color: #ffffffd1;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #ffffff;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #c8c8c8;
}

@media (width < 1024px) {
    .streaming-side-bar {
        height: 80vh;
    }
}